* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #e0e8ff;
}
@media (min-width: 768px) {
  body {
    background-image: url("../images/pattern-background-desktop.svg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

p {
  font-size: 1.6rem;
  color: #7280a7;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.order-summary_container {
  min-width: 320px;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  border-radius: 6%;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 13px 31px 0px rgba(166, 166, 166, 0.51);
          box-shadow: 0px 13px 31px 0px rgba(166, 166, 166, 0.51);
}

.box-hero--image {
  width: 100%;
  height: 26vh;
}

.hero-image {
  width: 100%;
  height: 100%;
  background-image: url("../images/illustration-hero.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: #1f2f56;
  font-size: 2rem;
  font-weight: 900;
  margin: 20px 0;
}

p {
  padding: 0 30px;
  line-height: 25px;
}

.plans-info_container {
  width: 80%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 45px 0;
  background-color: #f5f7ff;
  border-radius: 10px;
}
.plans-info_container .plans-info_block {
  padding: 0 20px 0 0;
}
.plans-info_container .plans-info--title {
  color: #1f2f56;
  font-size: 1.6rem;
  font-weight: 900;
}
.plans-info_container .plans-info--price {
  padding: 2px 0;
  color: #7280a7;
}
.plans-info_container .plans-info_button {
  color: #3829e0;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
.plans-info_container .plans-info_button:hover {
  opacity: 70%;
  text-decoration: underline;
}

.button-payment {
  width: 80%;
  padding: 15px;
  margin: 0 0 5px 0;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
  background-color: #3829e0;
  color: #f5f7ff;
  -webkit-box-shadow: 0px 13px 19px 0px rgba(166, 166, 166, 0.72);
          box-shadow: 0px 13px 19px 0px rgba(166, 166, 166, 0.72);
}

.button-payment:hover {
  opacity: 70%;
}

.button-cancel {
  width: 80%;
  padding: 15px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
  color: #7280a7;
}

.button-cancel:hover {
  color: #1f2f56;
}