@import "./globales.scss";

.order-summary_container {
    min-width: 320px;
    max-width: 400px;
    height: auto;
    margin: 50px auto;
    border-radius: 6%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 13px 31px 0px rgba(166,166,166,0.51);
}
.box-hero--image {
    width: 100%;
    height: 26vh;
}

.hero-image {
    width: 100%;
    height: 100%;
    background-image: url('../images/illustration-hero.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    color: $color-neutral-3;
    font-weight: 900;
    margin: 20px 0;
}

p {
    margin-block-end: 10px;
    padding: 0 30px;
    line-height: 25px;
}

.plans-info_container {
    width: 80%;
    height: 9vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    background-color: $color-neutral-1;
    border-radius: 10px;

    .plans-info_block {
        padding: 20px 20px 0 0;
    }
    .plans-info--title {
        color: $color-neutral-3;
        font-size: 1.6rem;
        font-weight: 900;
    }
    
    .plans-info--price {
        padding: 2px 0;
        color: $color-neutral-2;
    }
    
    .plans-info_button {
        color: $color-secundario;
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
    }
    
    .plans-info_button:hover {
        opacity: 70% ;
        text-decoration: underline;
    }
}

.button-payment {
    width: 80%;
    padding: 15px;
    margin-block-end: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none;
    background-color: $color-secundario;
    color: $color-neutral-1;
    box-shadow: 0px 13px 19px 0px rgba(166,166,166,0.72);
}
.button-payment:hover {
    opacity: 70%;
}

.button-cancel {
    width: 80%;
    padding: 15px;
    margin-block-end: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none;
    color: $color-neutral-2;
}

.button-cancel:hover {
    color: $color-neutral-3;
}
